* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  background-color: #EDF6F9;
}

.container {
  background-color: #83C5BE;
  border-radius: .5rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#timer {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #006D77;
}

#prompt, #input {
  width: 80%;
  text-align: left;
  margin: 0.5rem;
  padding: 1rem;
}

#input {
  resize: none;
  height: 10rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  border: 2px solid #83C5BE;
  outline: none;
  border-radius: .5rem;
}

#input:focus {
  border-color: #006D77;
}

#myWPM {
  font-size: 2rem;
  color: #006D77;
}

button {
  margin-top: 1.5rem;
}

iframe {
  height: 3rem;
}
/* span {
  flex-wrap: nowrap;
} */

.incorrect {
  color: red;
  text-decoration: solid;
}

.correct {
  color: green;
}
